@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-500: #ef4444;
  --color-red-400: #f87171;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
